/*
palette

dark: #222;
light brown: rgb(255, 252, 248);
orange: #F8AA04;
*/

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  z-index: -1;
  background-color: #333;
}

body {
  background-color: rgb(255, 252, 248);
}

.gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: transparent url(../img/gradient_a70.png) repeat-x 0 0;
  opacity: 0.7;
  z-index: 1;
}

/* typography and spacing */
h1, h2, h3 { letter-spacing: 1px; }

h1 a,
h2 a,
h3 a {
  color: #404040;
}

h1 a:hover,
h2 a:hover,
h3 a:hover {
  color: #888;
}

h1.bold, h1.bold a,
h2.bold, h2.bold a,
h3.bold, h3.bold a {
  font-family: 'Open Sans XBold', sans-serif;
}

h1.xbold, h1.xbold a,
h2.xbold, h2.xbold a,
h3.xbold, h3.xbold a {
  font-family: 'Open Sans XXBold', sans-serif;
}

h1.light, h1.light a,
h2.light, h2.light a,
h3.light, h3.light a {
  font-family: 'Open Sans Light', sans-serif;
}

.caps { text-transform: uppercase; }
  .upper-caps { text-transform: uppercase; }
  .upper-caps:first-letter { font-size: 1.3em; }

.text-shadow {
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.prose { letter-spacing: 1px;}

.pad0 {
  padding: 4px;
  }
  .pad0x {
    padding-left: 4px;
    padding-right: 4px;
  }
  .pad0y {
    padding-top: 4px;
    padding-bottom: 4px;
  }

.row0 { height: 20px;}
.row17 { height: 680px;}
.row18 { height: 720px;}
.row17 { height:auto; min-height: 680px;}
.row18 { height:auto; min-height: 720px;}

.strongline-all    { border:2px solid #CCC; }
.strongline-top    { border-top:2px solid #CCC; }
.strongline-right  { border-right:2px solid #CCC; }
.strongline-bottom { border-bottom:2px solid #CCC; }
.strongline-left   { border-left:2px solid #CCC; }

.dashline-all    { border:1px dashed #CCC; }
.dashline-top    { border-top:1px dashed #CCC; }
.dashline-right  { border-right:1px dashed #CCC; }
.dashline-bottom { border-bottom:1px dashed #CCC; }
.dashline-left   { border-left:1px dashed #CCC; }

.scroll-styled {
    padding-right: 18px;
}

.dropshadow-down {
  box-shadow: rgba(0,0,0,0.25) 0 5px 10px -2px;
}
  .dropshadow-right {
    box-shadow: rgba(0,0,0,0.2) 5px 0 10px -2px;
  }
  .dropshadow-down-right {
    box-shadow: rgba(0,0,0,0.2) 4px 4px 10px 0;
  }



/* links and color accents */
strong {
  font-family: 'Open Sans Bold', serif;
  color: #FF6600;
  } /* darker red orange */
  .dark strong { color: #F8AA04; } /* brigher orange */
  a:hover strong { color: #CF710B; } /* darken further on hover */
  .dark a:hover strong { color: #FFC145; } /* lighten further on hover */

.activate a {
  color: #404040;
}
  .dark .activate a {
    color: rgb(255, 252, 248);
  }
  .activate a:hover {
    background-color: #CCC;
  }
  .dark .activate a:hover {
    background-color: #444;
    /*color: rgb(224, 218, 210);*/
  }
  .activate a:active {
    background-color: rgb(224, 218, 210);
  }
  .dark .activate a:active {
    background-color: #666;
  }
  .activate a:active, .activate a.active {
    color: #FF6600;
  }
  .dark .activate a:active, .dark .activate a.active {
    color: #F8AA04;
  }

button:hover, .button:hover, .button.active,
[type=submit]:hover, [type=button]:hover {
  background-color: #F8AA04;
}


/* backgrounds */
.dark {
    color: #FFFCF8;
}
  .fill-black {
    background-color: #000;
  }
  .fill-darken {
    background-color: rgba(0,0,0,0.75);
  }
  .fill-dark {
    background-color: #222;
  }
  .fill-light {
    background-color: rgb(255, 252, 248);
    background-color: rgba(255, 252, 248, 0.82);
  }



/* custom styles*/
.title {
  margin: 0 auto;
}

.arrow-container {
  width: 80px;
  float: left;
}

.content-container {
  height: 0;
  overflow: hidden;
  }
  .content-container.active {
    height: 240px; /* set equal to .rowN class */
  }

.calendar {
  font-family: monospace;
  }
  .calendar li a:hover, .calendar li a.active{
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0.25);
  color: #FFF !important;
  border-left: 1px solid transparent;
  }
  .calendar li a:active {
    color: orange;
  }



/******************************* Map Legends *******************************/
.leaflet-container a {
    color: #5A6943;
    cursor: pointer;
}

.leaflet-container a:hover {
    color: #2A3508;
    text-decoration: underline;
}

.map-legends {
    background-color: rgb(255, 252, 248);
    background-color: rgba(255, 252, 248, 0.9);
    border-radius: 0;
    box-shadow: rgba(0,0,0,0.08) 0 0 10px 4px;
}


.map-legend {
    -webkit-transition: height 0.2s ease;
    -moz-transition: height 0.2s ease;
    -o-transition: height 0.2s ease;
    -ms-transition: height 0.2s ease;
    transition: height 0.2s ease;
}
.map-legend h3 {
    margin-bottom: 2px;
}

.map-legend table {
    margin-bottom: 4px;
  }
  .map-legend table td {
    height: 12px;
    border-left: 1px solid #ddd;
  }
  .map-legend table td:last-child {
    border-right: 1px solid #ddd;
  }
  .map-legend .micro {
  font-size: 10px;
  line-height:16px;
}




/******************** Icons ********************/
.arrow {
    height: 0;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 26px solid #555;  /* or to make equal sides:; border-left-width + border-right-width * 0.866 */
    margin: 17px auto;
    cursor: pointer;
}

.arrow:hover {
    border-bottom-color: #AAA;
}

.arrow.active {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.arrow.left {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.arrow.right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

@font-face {
  font-family:'Open Sans Light';
    src:url('../fonts/opensans-light.eot');
    src:url('../fonts/opensans-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-light.woff') format('woff');
}

@font-face {
  font-family:'Open Sans XBold';
    src:url('../fonts/opensans-bold.eot');
    src:url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-bold.woff') format('woff');
}

@font-face {
  font-family:'Open Sans XXBold';
    src:url('../fonts/opensans-extrabold.eot');
    src:url('../fonts/opensans-extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-extrabold.woff') format('woff');
}

@font-face {
    font-family: 'Icon-Set';
    src:url('../fonts/icon.eot?-shfr1q');
    src:url('../fonts/icon.eot?#iefix-shfr1q') format('embedded-opentype'),
        url('../fonts/icon.woff?-shfr1q') format('woff'),
        url('../fonts/icon.ttf?-shfr1q') format('truetype'),
        url('../fonts/icon.svg?-shfr1q#icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

